{% extends "dc_base_naked.html" %}

{% load i18n staticfiles %}

{% block body_base %}

{% block header %}
    <header role="banner">
        <div class="container">
            <a href="/">
                <img src="{% static "dc_theme/icons/apple-touch-icon.png" %}" alt="">
            <div class="title-text">
                {% get_current_language as LANGUAGE_CODE %}
                {% if language_code != "en" %}
                    <div lang="en" dir="ltr">{% language "en" %}{{ site_title }}{% endlanguage %}</div>
                {% endif %}
                <div{% if language_code != "en" %} class="subtitle"{% endif %}>{{ site_title }}</div>
            </div>
            </a>
            {% block site_menu %}{% endblock site_menu %}
        </div>
    </header>
{% endblock header %}


  {# {% if messages %} #}
  {#   {% for message in messages %} #}
  {#   <div class="callout secondary success {{ message.tags }}" data-closable> #}
  {#     <h5>{{ message }}</h5> #}
  {#     <button class="close-button" aria-label="Dismiss alert" type="button" data-close> #}
  {#       <span aria-hidden="true">&times;</span> #}
  {#     </button> #}
  {#   </div> #}
  {#   {% endfor %} #}
  {# {% endif %} #}


  <main>
    {% block top_banner %}{% endblock top_banner %}
    <div class="container">
      {% block breadcrumbs %}{% endblock breadcrumbs %}
      {% if messages %}
        {% for message in messages %}
        <div class="card banner_message {{ message.tags }}" data-closable>
          {% if 'template' in message.extra_tags %}
          {{ message }}
          {% else %}
          <h5>{{ message }}</h5>
          {% endif %}
        </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock content %}
    </div>
  </main>

  {% block bottom_banner %}{% endblock bottom_banner %}

  {% block site_footer %}{% endblock site_footer %}

{% endblock body_base %}



